<h1 class="title-container">Create a new Route</h1>
<div class="content-area-container">
  <div class="entry-area">

    <form  action="/routes" method="post">

      <label for = "description">Description:</label>
      <input  type = "text" name = "description" id="description"/>

      <label for = "difficulty">Difficulty:</label>
      <input  type = "text" name="difficulty" id="difficulty"></input>

      <label for = "hint">Hint:</label>
      <textarea name = "hint" cols="40" rows="5" id="hint"></textarea>

      <label for = "img_link">Link to Image:</label>
      <input type = "text" name = "img_link" id="img-link"/>

      <input type="submit" value="Create Route">
    </form>
  </div>
</div>














<!-- <div class="form-el">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name"/>
    </div>

    <div class="form-el">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name"/>
    </div> -->
