
<h1>Climbers:</h1>

  <% for climber in @climbers %>
  <h2><%= climber.name %></h2>
    <p><%= climber.profile %></p>
    <form method="get" action="/climbers/<%= climber.id %>">
      <button>User Details</button>
    </form>
    <hr/>
  <% end %>
