<h1 class="title-container">Create a new Climber </h1>
<div class="content-area-container">
  <div class="entry-area">
    <form  action="/climbers" method="post">

      <label for = "name">Name:</label>
      <input type = "text" name = "name" id="name"/>

      <label for = "profile">Profile:</label>
      <textarea name="profile" cols="40" rows="5" id="profile"></textarea>

      <input type="submit" value="Create User">

    </form>
  </div>
</div>
