<h1 class="title-container">Alien Bloc</h1>
<div class="content-area-container">
  <h2 class="entry-area"><a href="/climbers">See Climbers</a></h2>
  <h2 class="entry-area"><a href="/routes">See Routes</a></h2>
  <h2 class="entry-area"><a href="/climbs">See Succesful Climbs</a></h2>
</div>
