<h1>Alien Bloc</h1>
  <div>
    <h2><a href="/climbers">See Climbers</a></h2>
  </div>
  <div>
    <h2><a href="/routes">See Routes</a></h2>
  </div>
  <div>
    <h2><a href="/climbs">See Succesful Climbs</a></h2>
  </div>
